.sidebar{
    flex: 3;
    /* border: 2px solid green; */
    background-color: #fdfbfb;
    margin: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebarItem-title {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
    font-weight: 600;
    /* border: 2px solid green; */
  }

  .sidebar-item > img {
    margin-top: 15px;
    width: 250px;
    height: 250px;
  }
  
  .sidebar-item > p {
    padding: 30px;
  }

  .sidebar-list {
    list-style-type: none;
    margin-bottom: 30px;
    /* border: 2px solid red; */
    width: 100%;
  }
  
  .sidebar-list-item {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    /* border: 2px solid black; */
  }
  
  .sidebar-socials {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebarIcon {
    list-style: none;
    font-size: 16px;
    margin-left: 10px;
  }